<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Home
        </title>
    </head>
    <body>
        <div class="col-md-12 main-chart">
            <div class="col-md-12">
                <div class="col-md-10 col-xs-10">
                    <input class="form-control" type="text" ng-model="tweet" my-enter="postTweet()"/>
                </div>
                <div class="col-md-2 col-xs-2">
                    <p class="btn btn-primary" ng-click="postTweet()">
                        Tweet
                    </p>
                </div>
            </div>
            <div style="padding-top: 70px" infinite-scroll='loadMore()' infinite-scroll-distance='10'>
                <div ng-repeat = "tweet in tweets">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="btn-group pull-right"  ng-if="tweet.creatorId._id== user._id">
                                    <i class="fa fa-chevron-down  dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </i>
                                    <ul class="dropdown-menu">
                                        <li ng-hide="showEditBox[$index]" ng-click="showEditBoxfunction($index)">
                                            <a href="#">
                                                Edit
                                            </a>
                                        </li>
                                        <li ng-click = "deletePost(tweet._id)">
                                            <a href="#">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <img class="img-thumbnail" src="http://graph.facebook.com/{{ tweet.creatorId.id }}/picture?type=small"/>
                                <span class="lead text-justify"  style="margin-left: 5px;">
                                    {{ tweet.creatorId.name }} .
                                </span>
                                {{ timesInWord(tweet.created_at) }}
                                <a href="/tweet/{{ tweet._id }}" style="text-decoration: none">
                                    <h3 ng-hide="showEditBox[$index]">
                                        {{ tweet.tweet }}
                                    </h3>
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="pull-left">
                                    Comments: {{ tweet.comments.length }}
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <input  class="form-control " type = "text" ng-show="showEditBox[$index]" ng-model = "tweet.tweet" my-enter="updatePost(tweet, $index)"/>
                                </div>
                                <span class="btn btn-primary" ng-show="showEditBox[$index]" ng-click="updatePost(tweet, $index)">
                                    Update
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
