<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            Home
        </title>
       
    </head>
    <body>
        <div class="col-md-12 main-chart">
            <div class="col-md-12">
                <div class="col-md-10 col-xs-10">
                    <input class="form-control" type="text" ng-model="tweet" my-enter="postTweet()"/>
                </div>
                <div class="col-md-2 col-xs-2">
                    <p class="btn btn-primary" ng-click="postTweet()">
                        Send
                    </p>
                </div>
            </div>
            <div style="padding-top: 70px">
                <div ng-repeat = "tweet in tweets">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="/tweet/{{ tweet._id }}" style="text-decoration: none">
                                    <img  src="http://graph.facebook.com/{{ tweet.creatorId.id }}/picture?type=small"/>
                                    <h3 ng-hide="showEditBox[$index]">
                                        {{ tweet.tweet }}
                                    </h3>
                                </a>
                            </div>
                            <div class="panel-body">
                                <input type = "text" ng-show="showEditBox[$index]" ng-model = "tweet.tweet"/>
                                <input type="submit" ng-show="showEditBox[$index]" value="Update" ng-click="updatePost(tweet, $index)"/>
                                <p>
                                    <span class="btn btn-primary" ng-hide="showEditBox[$index]" ng-click="showEditBoxfunction($index)">
                                        Edit
                                    </span>
                                    <span class="btn btn-danger" ng-click = "deletePost(tweet._id)">
                                        Delete
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
